<%= link_to "All Vehicles", vehicles_path %>

<% if @vehicle.errors.any? %>
    <h2>
      <%= pluralize(@vehicle.errors.count, "error") %>
      prohibited this vehicle from being saved:
    </h2>
 
    <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li><p style="color:red;"><%= msg %></p></li>
    <% end %>
    </ul>
<% end %>

<%= form_for vehicle do |f| %>
    <%= f.label "Owner Name: " %>
    <%= f.text_field :owner_name %><br>

    <%= f.label "Make: " %>
    <%= f.text_field :make %><br>

    <%= f.label "Model" %>
    <%= f.text_field :model %><br>

    <%= f.label "Year: " %>
    <%= f.number_field :year %><br>

    <%= f.label "Vehicle Type: " %>
    <%= f.text_field :vehicle_type %><br>

    <%= f.label "Mileage: " %>
    <%= f.number_field :mileage %><br>

    <%= f.label "Vin Number: " %>
    <%= f.number_field :vin_number %><br>

    <%= f.label "Symptom: " %>
    <%= f.text_field :symptom %><br>

    <%= f.label "Notes: " %>
    <%= f.text_area :notes %><br>
    <%= f.submit %>
<% end %>