<%= link_to "All Vehicles", vehicles_path %>

<p>Make: <%= @vehicle.make %></p>
<p>Model: <%= @vehicle.model %></p>
<p>Year: <%= @vehicle.year %></p>
<p>Type: <%= @vehicle.vehicle_type %></p>
<p>Milage: <%= @vehicle.mileage %></p>
<p>Vin Number: <%= @vehicle.vin_number %></p>
<p>Owner Name: <%= @vehicle.owner_name %></p>
<p>Symptom: <%= @vehicle.symptom %></p>
<p>Notes: <%= @vehicle.notes %></p>

<%= link_to "Edit", edit_vehicle_path(@vehicle) %>
<%= link_to "Delete", vehicle_path(@vehicle), method: :delete %>
<%= link_to "View Repairs", vehicle_repairs_path(@vehicle) %>
<%= link_to "Add Repair", new_vehicle_repair_path(@vehicle) %>