<%=link_to "All Vehicles", vehicles_path%>

<p>Make: <%= vehicle.make %></p>
<p>Model: <%= vehicle.make %></p>
<p>Year: <%= vehicle.make %></p>
<p>Type: <%= vehicle.make %></p>
<p>Milage: <%= vehicle.make %></p>
<p>Vin Number: <%= vehicle.make %></p>
<p>Owner Name: <%= vehicle.make %></p>
<p>Symptom: <%= vehicle.make %></p>