<h1>Repairs</h1>

<%= link_to "All Vehicles", vehicles_path %>


<% @repairs.each do |r| %>
    <p>Repair: <%= r.repair %></p>
    <p>Part: <%= r.part %></p>
    <p>Price: <%= r.price %></p>
    <p>Completed: <%= r.completed %></p>
    <%= link_to "View", repair_path(r) %>
<% end %>