<h2>Vin Number: <%= @repair.vehicle.vin_number %></h2>
<h3>Vehicle: <%= @repair.vehicle.make %><%= @repair.vehicle.model %><%= @repair.vehicle.year %></h3>
<h3>Owner: <%= @repair.vehicle.owner_name %></h3>
<p>Repair: <%= @repair.repair %></p>
<p>Part: <%= @repair.part %></p>
<p>Price: <%= @repair.price %></p>
<p>Job completed?: <%= @repair.completed %></p>

<%= link_to "Vehicle Information", vehicle_path(@repair.vehicle) %>
<%= link_to "All Vehicles", vehicles_path %>
<%= link_to "View Repairs", repairs_path(@repair) %>
<%= link_to "Update or Edit", edit_repair_path(@repair) %>
<%= link_to "Delete", repair_path(@repair), method: :delete %>
