<!DOCTYPE html>
<html>
  <head>
    <title>MechanicsView</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="text-align: center;">
    <%= render_navigation %>
    <%= yield %>
  </body>
</html>
